<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worksyun.api.mapper.EquipmentuserMapper">
  <resultMap id="BaseResultMap" type="com.worksyun.api.model.Equipmentuser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="equipmentId" jdbcType="CHAR" property="equipmentid" />
    <result column="userId" jdbcType="CHAR" property="userid" />
    <result column="getTime" jdbcType="TIMESTAMP" property="gettime" />
    <result column="returnTime" jdbcType="TIMESTAMP" property="returntime" />
    <result column="depositStatus" jdbcType="INTEGER" property="depositstatus" />
    <result column="shareStatus" jdbcType="INTEGER" property="sharestatus" />
    <result column="sharedNumber" jdbcType="INTEGER" property="sharednumber" />
    <result column="creationUserName" jdbcType="VARCHAR" property="creationusername" />
    <result column="creationTime" jdbcType="TIMESTAMP" property="creationtime" />
    <result column="creationUserId" jdbcType="CHAR" property="creationuserid" />
    <result column="modifyUserName" jdbcType="VARCHAR" property="modifyusername" />
    <result column="modifyUserId" jdbcType="CHAR" property="modifyuserid" />
    <result column="modifyTime" jdbcType="TIMESTAMP" property="modifytime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
</mapper>